{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <h1>Create Category</h1>
  <div class="narrow-form">
    <form method="post" input="name">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </div>
</main>
{% endblock content %}
