{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  <body>
    <header>
      <nav>
        <ul class="navigation">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'home' %}">Receipts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'receipt_create' %}">Create receipt</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_list' %}">Accounts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_create' %}">Create account</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'category_list' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'category_create' %}">Create category</a>
          </li>
          <li class="nav-item">
            <a href="/accounts/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="/admin/">Admin</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
