{% extends 'base.html' %} {% block content %}
<main>
  <div class="narrow-form">
  <h1> Create Account </h1>
  <form method="post" input="name", "number">
  {% csrf_token %} {{ form.as_p }}
   <button type="submit">Create</button>
  </form>
</main>
{% endblock content %}