{% extends 'base.html' %} {% block content %}
<main>
  <h1> Accounts </h1>
  <table>
    <thead>
      <tr>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account in account_list %}
      <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.number }}</td>
        <td>{{ account.receipts.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
</main>
{% endblock content %}
