{% extends 'base.html' %} {% load static %}
{% block content %}
    <main>
      <h1> Login </h1>
      <div class="narrow-form">
      <form method="post" input="username","password">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    </main>
  {% endblock content %}
</html>
