{% extends 'base.html' %} {% block content %}
<main>
  <h1>Sign up</h1>
  <div class="narrow-form">
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
  </div>
  <main>{% endblock content %}</main>
</main>
