.narrow-form {
    max-width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    margin: auto;
    padding: 2em;
}

div {
    display: block;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

th, td {
    border-width: 1px;
    border-style: solid;
    border-color: lightblue;
    border-image: initial;
    padding: 0.5em;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-collapse: collapse;
    max-width: 800px;
    min-width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    margin: auto;
    padding: 10px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

li {
    display: list-item;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1 {
    display: block;
    text-align: center;
}